body{
    background-image: url(backgraund.jpg.jpg);
    background-size: 900px;
    margin: 0;
}
.header {
    color: #fff;
    background-color:black ;
    padding: 15px;
    margin:0 ;
    border-radius: 0 0 20px 20px;
    border-bottom: 3px solid black;
    font-family:sans-serif;
}
.titel {
    text-align: center; 
    font-size:50px;
}
.
/* @media screen and (max-width: 300px) {
    .books1 { 
    display: block;
    width: 100%;
    height: 100%;
    }
}      */
/* @media screen and (orientation: portrait) {
	.books1 {
    display: flex;
	width: 100%;

	}
} */
.books1 {
    display: grid;
    grid-template-columns:  50% 50% ;
    gap: 60px;
    margin: 70px;
    padding: 60px;
    color: #000 ;
    font-size: 20px;
    
}
img {
    width: 400px;
    align-items: center;
}
.book1 {
    /* border:2px solid black; */
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
}
.book1 :hover {
        box-shadow: 0 8px 16px  rgba(0,0,0,0.2);
}

.book2 {
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
}
.book2 :hover {
        box-shadow: 0 8px 16px  rgba(0,0,0,0.2);
}
.book3 {
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
}
.book3 :hover {
        box-shadow: 0 8px 16px  rgba(0,0,0,0.2);
}
.book4 {
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
}
.book4 :hover {
        box-shadow: 0 8px 16px  rgba(0,0,0,0.2);
}
.book5 {
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
}
.book5 :hover {
        box-shadow: 0 8px 16px  rgba(0,0,0,0.2);
}
.book6 {
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
}
.book6 :hover {
        box-shadow: 0 8px 16px  rgba(0,0,0,0.2);
}
.book7 {
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
}
.book7 :hover {
        box-shadow: 0 8px 16px  rgba(0,0,0,0.2);
}
.book8 {
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
}
.book8 :hover {
        box-shadow: 0 8px 16px  rgba(0,0,0,0.2);
}
.book9 {
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
}
.book9 :hover {
        box-shadow: 0 8px 16px  rgba(0,0,0,0.2);
}
.book10 {
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
}
.book10 :hover {
        box-shadow: 0 8px 16px  rgba(0,0,0,0.2);
}
.book11 {
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
}
.book11 :hover {
        box-shadow: 0 8px 16px  rgba(0,0,0,0.2);
}
.book12 {
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;
}
.book12 :hover {
        box-shadow: 0 8px 16px  rgba(0,0,0,0.2);
}
